<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.RoleMapper">

	<sql id="GetRolePoColumn">
		role_id,role_name,role_create,role_modified,role_integer,role_string
	</sql>


	
	<select id="queryRoleList" parameterType="com.crm.entity.Page" resultType="com.crm.pojo.RolePo">
		SELECT <include refid="GetRolePoColumn" />
		FROM role LIMIT #{firstPage}, #{rows};
	</select>

	<select id="queryCountRole"  resultType="java.lang.Integer">
		SELECT COUNT(1) FROM role WHERE 1 = 1;
	</select>
	
	
	<insert id="insertRole" parameterType="com.crm.dto.RoleDto">
		INSERT INTO role (role_name,role_create,role_modified) VALUES (#{roleName},#{roleCreate},#{roleModified});
	</insert>
	
	<update id="updateRole" parameterType="com.crm.dto.RoleDto" > 
		UPDATE role SET role_name = #{roleName},role_modified = #{roleModified} WHERE role_id = #{roleId};
	</update>
	
	<delete id="deleteRole" parameterType="java.lang.String">
		DELETE FROM role WHERE role_id = #{roleId};
	</delete>
	
	
	

	
	<select id="queryNotMyRole" parameterType="java.lang.String" resultType="com.crm.pojo.RolePo">
		SELECT <include refid="GetRolePoColumn" /> FROM role r WHERE r.role_id NOT IN (SELECT role_id FROM userrole ur WHERE ur.user_id = #{userId} )
	</select>
	
	
	<select id="queryMyRole" parameterType="java.lang.String" resultType="com.crm.pojo.RolePo">
		SELECT <include refid="GetRolePoColumn" /> FROM role r WHERE r.role_id IN (SELECT role_id FROM userrole ur WHERE ur.user_id =  #{userId} )
	</select>
	
	<delete id="removeMyRole" parameterType="java.lang.String">
		DELETE FROM userrole  WHERE user_id = #{userId} AND  role_id= #{roleId}  
	</delete>
	
	<insert id="insertMyRole" parameterType="java.lang.String">
		INSERT INTO userrole(user_id,role_id)VALUES (#{userId},#{roleId});
	</insert>



</mapper>